@font-face {
    font-family: 'Univers LT Std';
    src: url('/fonts/UniversLTStd.woff2') format('woff2'),
        url('/fonts/UniversLTStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('/fonts/UniversLTStd-Bold.woff2') format('woff2'),
        url('/fonts/UniversLTStd-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

:root {
  --headerfont: "Univers LT Std";
  --bodyfont: "Univers LT Std";
  --color-background: #f2f3f8;
  --dark-gray: #393b49;
  --light-gray: #8e91a7;
}

html{
  background-color: var(--color-background);
}
/* TYPOGRAPHY  */

h1, h2, h3, h4, h5, h6{
  font-weight:600;
  font-family:var(--headerfont), sans-serif;
}


h5{

  color:#393b49;
  margin-bottom:10px;
  font-size:18px;
  line-height:24px;

}


p{
  font-size:16px;
  margin-bottom:10px;
  line-height:28px;
  color:#999;
}

a{
  text-decoration:none;
  color:#393b49;
  outline:0;
}

.article-title{
  font-weight:700;
  font-size:16px;
  margin-top:15px;
  text-align:center;
  color:#354e89;
}

.article-description{
  text-align:center;
  line-height:10px;
}

/*////////////////*/

/* HERO  */

.hero{
  text-align:center;
  background-color: black;
  height:35rem;

  display: grid;
  justify-content: center;
  align-items: center;

}

.hero-content{
  height:100px;
}

.hero-content > h1 {
  color:var(--color-background);
}

.hero-content > h3 {
  color:#393b49;
}

/*////////////////*/

/* BUTTONS  */

.textButton{
    background:none;
    border:none;
    outline:none;
    margin:0;
    padding:15px 15px 0 15px;

    font-family: var(--headerfont), sans-serif;
    font-size: 20px;
    font-weight: 300;
  }

.textButton:hover{
    color:#000 !important;
    cursor:pointer;
  }


/*////////////////*/

/* ANIMATION */

.has-animation{
  opacity:0!important;
  -webkit-transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s;transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s;
  -webkit-transition:translateY(80px);transform:translateY(80px);
}

.has-animation.animate-in{
  opacity:1!important;
  -webkit-transition:translateY(0px);
  transform:translateY(0px);
}

/*////////////////*/

/* CARDS */

.cards > article{
  margin-bottom:35px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
  grid-gap:20px;
  margin-bottom:35px;
  margin-top:35px;
}

.cardHover :hover{
  opacity:.8;
}

/*////////////////*/

/* SETUP */

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
  border:0;
  margin:0;
  outline:0;
  padding:0;
  vertical-align:baseline;
}

img{
  border:0 none;
  max-width:100%;
  vertical-align:middle;
  border-radius:1px;

}

footer{
  height:8rem;

  display: grid;
  justify-content: center;
  align-items: center;
}

footer > p {
  color: var(--light-gray)
}

#overlay {
  position: fixed; /* Sit on top of the page content */

  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity:.5;
  background-color: rgba(0,0,0); /* Black background with opacity */
  z-index: 150; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

/*////////////////*/

/* CONTAINER */

.container{
  max-width:1580px;
  width:100%;
  margin:0 auto;
  padding:0 220px;
  box-sizing:border-box;
}

.container::after{
  clear:both;
  content:" ";
  display:
  table;
}

.home-grid{

  display: grid;

  /* justify-content: center;
  align-items: center; */
  grid-gap:50px;

  grid-template-columns: 1fr 1fr;
  padding-bottom: 150px;
}

.grid-item{

  text-align: center;
  background-color:white;
  padding:90px 100px 100px 100px;
  box-shadow:0 0.4rem 0.8rem -0.1rem rgba(0,32,128,.1), 0 0 0 1px #f0f2f7;
  border-radius: .25rem;
  cursor: pointer;
}



.grid-item > h3 {
  font-weight: normal;
}

/*////////////////*/

/* RESPONSIVE */


@media only screen and (max-width: 1466px){
  .container{
    max-width:1580px;
    width:100%;
    padding:0 100px;}
}

@media only screen and (max-width: 1024px){
  .home-grid{
    grid-template-columns: 1fr;
    width:100%;

  }
  .grid-item{
    padding:100px 50px 100px 50px;
  }
  .container{
    padding:0 50px;
  }
}

@media only screen and (max-width: 767px){
  .container{
    padding:0 40px;
  }
}

@media only screen and (max-width: 479px){
  .container{
    padding:0 30px;
  }

  .row_padding_bottom{
    padding-bottom:50px;
  }
}
