body{
  margin:0 auto;
  padding:12vmin 10vmin;
  max-width:35em;
  line-height:auto;
  font-family: -apple-system,BlinkMacSystemFont,sans-serif;
  word-wrap: break-word;
}

#close{
  height:17px;
  width:17px;
  padding:8px;
  border-radius:25px;
  float:right;
  clear:right;
}

#close:hover{
  background-color: #F7F7F7;
}


.sub{
  color:#9CA6B6;
  font-weight:400;
}

.content-block:hover{
  background-color: #f7f7f7;
}

hr{
  border: 0px solid #bfc7d4; border-top-width: 1px;
  margin:0px;
  padding:0px;

}

p{
  color:#50596c;
  line-height:24px;
  border-radius:2px;

}

.fas{
  color:#3375f7;
}

blockquote{
  padding:23px 25px 25px 25px;
  /* border: 1px solid #bfc7d4; */
  background-color: #b6bdc72b;
  border-radius: 3px;
  color:#50596c;
  margin: 20px 0 0 0;
  line-height:24px;

}

.no-link-style{
  text-decoration: none;
}

.link-block{
  line-height:24px;
  font-weight: 500;
  color:#1e1e1e;
  padding:25px;
  border-radius: 3px;
}

.page-header{
  line-height:24px;
  font-weight: 500;
  color:#1e1e1e;
  border-radius: 3px;
  padding-top: 45px;
}

.quote-image{
  width:100%;
  padding-bottom:25px;
}
.by{
  font-family: Georgia, serif;
  font-style: italic;
}

.uppercase{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color:#2d6cf3;

}

.back{

  color: #2d6cf3;
  text-decoration: none;
}


.spacer{
  height:45px;
}
